.usertab {
    position: absolute;
    top: 0px;
    height: 100%;
    left: -50px;
    width: 50px;
    background-color: #ff8400;
}



.usertab LI {
    padding: 3px 3px 0px 3px;

}

.usermess {
    position: absolute;
    top: 0px;
    height: 100%;
    left: -100%;
    width: 100%;
    background-color: #1998ff;

}