/* You can add global styles to this file, and also import other style files */

body {
    margin: 0px;
}

.usermask IMG {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
}

UL {

    list-style-type: none;
    padding: 0;
}
